<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Mail\Transport">
        <plugin name="mailgunTransportInterface" type="MageMontreal\Mailgun\Mail\Transport" sortOrder="1" />
    </type>
    <type name="Magento\Framework\Mail\Template\TransportBuilderByStore">
        <plugin sortOrder="1" name="mailgunTransportBuilderByStore" type="MageMontreal\Mailgun\Plugin\Mail\Template\TransportBuilderByStorePlugin" />
    </type>
</config>
